#content .product .summary.entry-summary{
	display: block;
    width: 100%;
    margin: 0;
}
#content .product .summary.entry-summary .product_meta{
	padding: 0;
} 
#content .product .summary.entry-summary .product-border{
	display: none;
}
#content .woocommerce-main-image.zoom,
#content .woocommerce-main-image.zoom img,
#content .product .images{
	float: left;
	display: block;
	width: 100%;
}
#content .product .additionalinfo{
	margin: 15px 0;
	    float: left;
	    text-align: center;
    width: 100%;
}
#content .product .additionalinfo .excerpt_desc{
	text-align: left;
}
#content .product .additionalinfo .excerpt_desc ul{
	list-style-type: none;
	font-size: 16px;
	padding: 0;
}
#content .product .additionalinfo .order_review button{
	background: rgb(41, 22, 112);
	box-shadow: 0 0 0px rgba(0,0,0,0.5);
  -webkit-transition: box-shadow 0.3s ease-out 0.1s;
  -moz-transition: box-shadow 0.3s ease-out 0.1s;
  -o-transition: box-shadow 0.3s ease-out 0.1s;
  transition: box-shadow 0.3s ease-out 0.1s;
  width: 100%;
  margin: 5px 0;
}
#content .product .additionalinfo .order_review button:hover{
	cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-transition: box-shadow 0.3s ease-out 0.1s;
  -moz-transition: box-shadow 0.3s ease-out 0.1s;
  -o-transition: box-shadow 0.3s ease-out 0.1s;
  transition: box-shadow 0.3s ease-out 0.1s;
}
#content .product .additionalinfo .order_review h2{
	text-align: center;
	display: block;
	width: 100%;
	font-weight: bold;
	color: rgb(37, 113, 185);
	margin: 5px 0;
}
#content .product .thumbnails.columns-3{
	float: left;
    width: 100%;
    margin: 10px 0;
}
body.woocommerce .thumbnails .owl-nav .owl-prev,
body.woocommerce .thumbnails .owl-nav .owl-next{
	background: rgb(179, 179, 179)!important;
    color: #fff!important;
    padding: 2px 5px!important;
    top: 0!important;
    position: absolute;
    margin: 0px !important;
    font-size: 20px;
    height: 100px;
}
.woocommerce .thumbnails .owl-nav .owl-prev:hover,
.woocommerce .thumbnails .owl-nav .owl-next:hover{
	background: rgb(3, 141, 217)!important;
}
.woocommerce .thumbnails .owl-nav .owl-prev i,
.woocommerce .thumbnails .owl-nav .owl-next i{
	position: relative;
    top: 40%;
}
#content .owl-carousel .owl-item img{
	height: 100px;
}